* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: snow;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
  }

html {
height: 100%;
}

body {
margin: 0;
padding: 0;
min-height: 100vh;
background: none;
}

.main {
width: 100%;
min-width: 100vh;
height: 100%;
min-height: 100vh;
min-height: 100vh;
background-color: black;
padding: 2em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.message{
  block-size: 300px;
  font-size: 100px;
  font-weight: bold;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-decoration-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.emojis{
  display: block;
  font-size: 5em;
}
